<div class="d-flex flex-row align-items-center feed-text px-2">
    <img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45" />
    <div class="d-flex flex-column flex-wrap ml-2">
        <span class="font-weight-bold">{{comment.email}}</span>
        <span class="text-black-50 time">minutes minutes ago</span>
    </div>
</div>
<div class="p-2 px-3">
    <span>{{comment.body}}</span>
</div>
<div class="p-2 px-3">
    <span>{{comment.email}}</span>
</div>
<nx-postapp-fullstack-post-bottom-toolbar></nx-postapp-fullstack-post-bottom-toolbar>